@use "#/styles" as s;


$wrapper-animation-duration: 0.25s;
$content-backdrop-brightness: 70%;
$margin-b: 16px;
$menu-loading-opacity: 50%;
$logo-w: 20rem;
$logo-p-b: 40px;
$logo-m-b: 16px;
$selector-gap: 0.75rem;
$selector-w: 28rem;
$selector-region-w: 260px;
$selector-region-flag-h: 1em;
$selector-region-flag-br: 3em;
$selector-region-players-fz: 0.8rem;
$input-group-loading-animation: pulser 0.5s ease-in-out infinite alternate;
$input-group-loader-fz: 1.5em;
$input-username-p: 16px 4px 16px 12px;
$input-username-fz: 1.1em;
$input-button-fz: 1.25em;
$session-gap: 0 16px;
$copylink-fz: 0.8em;


[id^='4 teams'] {
  background-color: s.$uicolor2;
}

[id^='maze'] {
  background-color: s.$uicolor3;
}

[id^='ffa'] {
  background-color: s.$uicolor0;
}

[id^='2 teams'] {
  background-color: s.$uicolor1;
}

[id^='domination'] {
  background-color: s.$uicolor4;
}

[id^='sandbox'] {
  background-color: s.$uicolor5;
}

[id^='team-blue'] {
  background-color: s.$net-team-blue;
}

[id^='team-red'] {
  background-color: s.$net-team-red;
}

[id^='team-purple'] {
  background-color: s.$net-team-purple;
}

[id^='team-green'] {
  background-color: s.$net-team-green;
}

@keyframes screen-animator {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulser {
  0% {
    transform: none;
  }

  33% {
    transform: none;
  }

  66% {
    transform: none;
  }

  100% {
    transform: scale(1.04);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/images/menu-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation-name: screen-animator;
  animation-duration: $wrapper-animation-duration;
  pointer-events: all;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  backdrop-filter: brightness($content-backdrop-brightness);
}


.logo {
  align-self: center;
  width: $logo-w;
  margin-bottom: $logo-m-b;
  padding-bottom: $logo-p-b;
}

.enterForm {
  display: flex;
  flex-direction: column;
  width: $selector-w;

  &__loading {
    opacity: $menu-loading-opacity;
  }
}

.serverSelector {
  display: flex;
  gap: $selector-gap;
  margin-bottom: $margin-b;

  &_region {
    display: flex;
    min-width: $selector-region-w;
    max-width: $selector-region-w;

    &_flag {
      height: $selector-region-flag-h;
      border-radius: $selector-region-flag-br;
    }

    &_players {
      color: s.$net-shiny;
      font-size: $selector-region-players-fz;
    }
  }

}

.inputGroup {
  display: flex;
  justify-content: center;
  margin-bottom: $margin-b;

  &_username {
    @extend %inputs;

    flex-grow: 1;
    padding: $input-username-p;
    font-size: $input-username-fz;
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &_button {
    @extend %clickable;

    font-size: $input-button-fz;
    text-shadow: s.$text-shadow-thick;
    background-color: s.$netcolor2;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  &_loader {
    font-size: $input-group-loader-fz;
    animation: $input-group-loading-animation;
  }
}

.copyLink {
  @extend %clickable;

  display: flex;
  margin-bottom: $margin-b;
  font-size: $copylink-fz;

  span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.sessionBtns {
  display: flex;
  flex-grow: 1;
  gap: $session-gap;

  &_button {
    @extend %clickable;

    flex-grow: 1;
    background-color: s.$netcolor1;

    &[disabled] {
      background-color: s.$netcolor0;
    }
  }
}