@use "#/styles" as s;

$animation-duration: 0.25s;
$backdrop-brightness: 50%;


@keyframes screen-animator {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulser {
  0% {
    transform: none;
  }

  33% {
    transform: none;
  }

  66% {
    transform: none;
  }

  100% {
    transform: scale(1.04);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/menu-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation-name: screen-animator;
  animation-duration: $animation-duration;
  pointer-events: all;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  backdrop-filter: brightness($backdrop-brightness);
}
