$netcolor0: #555555;
$netcolor1: #999999;
$netcolor2: #00b2e1;
$netcolor3: #00b2e1;
$netcolor4: #f14e54;
$netcolor5: #bf7ff5;
$netcolor6: #00e16e;
$netcolor7: #8aff69;
$netcolor8: #ffe869;
$netcolor9: #fc7677;
$netcolor10: #768dfc;
$netcolor11: #f177dd;
$netcolor12: #ffe869;
$netcolor13: #43ff91;
$netcolor14: #bbbbbb;
$netcolor15: #f14e54;
$netcolor16: #fcc376;
$netcolor17: #c0c0c0;

$net-border: $netcolor0;
$net-cannon: $netcolor1;
$net-tank: $netcolor2;
$net-team-blue: $netcolor3;
$net-team-red: $netcolor4;
$net-team-purple: $netcolor5;
$net-team-green: $netcolor6;
$net-shiny: $netcolor7;
$net-enemy-square: $netcolor8;
$net-enemy-triangle: $netcolor9;
$net-enemy-pentagon: $netcolor10;
$net-enemy-crasher: $netcolor11;
$net-neutral: $netcolor12;
$net-scoreboard-bar: $netcolor13;
$net-box: $netcolor14;
$net-enemy-tank: $netcolor15;
$net-necromancer-square: $netcolor16;
$net-fallen: $netcolor17;

$uicolor0: #43fff9;
$uicolor1: #82ff43;
$uicolor2: #ff4343;
$uicolor3: #ffde43;
$uicolor4: #437fff;
$uicolor5: #8543ff;
$uicolor6: #f943ff;
$uicolor7: #fcad76;
$uicolor-1: #333333;
$uicolor-15: #555555;
$uicolor-2: #777777;
$uicolor-3: #bbbbbb;
$uicolor-4: #444;
$uicolor-8: #888;