@use "./colors" as cl;
@use "./constants" as c;
@use "./placeholders" ;

$btn-cross-shadow-blur: 1px;
$btn-cross-shadow: drop-shadow(0 0 $btn-cross-shadow-blur #fff) drop-shadow(0 0 $btn-cross-shadow-blur #fff);
$sidebar-entry-mt: 0.83em;
$sidebar-entry-fz: min(3vh, 1em);
$sidebar-entry-fw: 700;
$sidebar-entry-icon-mr: 0.5em;
$sidebar-entry-special-fz: 1.1em;
$sidebar-entry-special-icon-fz: 1.2em;
$sidebar-hr-b: 1px solid rgb(255 255 255 / 10%);
$sidebar-hr-br: 1px;

:global(.active) {
  @extend %active;
}


:global {
  .tab {
    display: flex;
    font-weight: $sidebar-entry-fw;
    font-size: $sidebar-entry-fz;
    text-align: left;
    margin-block: $sidebar-entry-mt $sidebar-entry-mt;

    &_icon {
      margin-right: $sidebar-entry-icon-mr;
    }

    &_special {
      justify-content: space-between;
      font-size: $sidebar-entry-special-fz;

      &_icon {
        font-size: $sidebar-entry-special-icon-fz;
        filter: $btn-cross-shadow;

        &__blue path {
          color: cl.$netcolor2;
        }
      }
    }
  }
}


:global(.tab_divider) {
  width: 100%;
  background-color: cl.$netcolor0;
  border: $sidebar-hr-b;
  border-radius: $sidebar-hr-br;
}
