@use "./constants" as c;
@use "./colors" as cl;

:export {
  brDefault: c.$br-default;
  inputRangeThumbWidth: c.$input-range-thumb-w;

  mazeBgCol: cl.$uicolor3;
  teams4BgCol: cl.$uicolor2;
  teamRedBgCol: cl.$net-team-red;
  teamBlueBgCol: cl.$net-team-blue;
}