@forward "./null";
@forward "./colors";
@forward "./constants";
@forward "./global";
@forward "./placeholders";
@use "./constants" as c;
@use "./colors" as cl;

body {
  background-color: #000;
}

* {
  color: c.$col-default;
  font-weight: c.$fw-default;
  font-size: c.$fz-default;
  font-family: c.$font-family-default;
  white-space: nowrap;
  text-shadow: c.$text-shadow-default;
  user-select: none;
}

a {
  display: flex;
  align-items: center;
  text-decoration: underline;

  &, path {
    color: cl.$netcolor2;
    font-size: inherit;
    text-shadow: none;
  }

  &:active {
    color: red;
  }
}


h1, h2, h3, h4, h5 {
  line-height: inherit;
  text-align: left;
  margin-block: c.$h-m-block;
}