@forward "./null";
@forward "./colors";
@forward "./constants";
@forward "./placeholders";
@use "./colors" as cl;
@use "./constants" as c;

* {
  color: c.$col-default;
  font-weight: c.$fw-default;
  font-size: c.$fz-default;
  font-family: c.$font-family-default;
  white-space: nowrap;
  text-shadow: c.$text-shadow-default;
  user-select: none;
}


:global(.active) {
  @extend %active;
}
